#head{
  font-family: 'Indie Flower', cursive;
  background-color: rgb(221, 101, 119)
  }
#firstscreen{
  font-family: 'Indie Flower', cursive;
}
#secondscreen{
  font-family: 'Indie Flower', cursive;
}
#offSet{
  font-family: 'Indie Flower', cursive;
}
#ciph_deciph{
  font-family: 'Indie Flower', cursive;
}
#mssj{
  font-family: 'Indie Flower', cursive;
 
}
#ciPher{
  font-family: 'Indie Flower', cursive;
 
}
#deciPher{
  font-family: 'Indie Flower', cursive;

}
#resultaos{
  font-family: 'Indie Flower', cursive;
}
#result{
  font-family: 'Indie Flower', cursive;
}