head{
  font-family: 'Cuprum', sans-serif;
 
  }
img{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
body{
    background-image: url('./dna.png');
    font-family: 'Cuprum', sans-serif;
  }

#todo{
  font-family: 'Cuprum', sans-serif;
  font-size: x-large;

}

#offSet{
  font-family: 'Cuprum', sans-serif;
  background: transparent;

}
#mssj{
  font-family: 'Cuprum', sans-serif;
  height: 10em;
  width: 500px;
  background: transparent;
}
#resultaos{
  font-family: 'Cuprum', sans-serif;
}
#result{
  font-family: 'Cuprum', sans-serif;
  height: 10em;
   width: 500px;
   background: transparent;
}