head{
  font-family: 'Cuprum', sans-serif;
 
  }
img{
  opacity: 0.5;
  filter: alpha(opacity=50);
  height: 187;
  width: 505;
}
body{
  text-align: center;
  font-family: 'Cuprum', sans-serif;  
  font-size: x-large;
  background-image: url('./img/casa.jpeg');
  }
header{
  text-align: center;
}

#all_divs{
  text-align: center;
  font-size: x-large;
  font-family: 'Cuprum', sans-serif;  
}

#offSet{

  background: transparent;
  border: 2px solid slateblue;
	border-radius: 10px;

}
#mssj{

  height: 10em;
  width: 500px;
  border: 2px solid slateblue;
	border-radius: 10px;
  background: transparent;
}
#result{

  height: 10em;
   width: 500px;
   border: 2px solid slateblue;
	border-radius: 10px;
   background: transparent;
}
footer{
  text-align: center;
}